---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ProductList from "../components/ProductList.astro";
---

<html lang="da">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
  </head>
</html>

<Header />
<main>
  <h1>Produkter</h1>
  <ProductList />
</main>
<Footer />
